// _sass/custom/_variables.scss

// 본문(본문, 사이드바 등) 폰트
$body-font-family: 'Pretendard', system-ui, -apple-system !default;

// 헤더(타이틀, 메뉴 등) 폰트
$header-font-family: 'Pretendard', system-ui, -apple-system !default;

// 코드 블록 안 폰트 (원한다면)
$code-font-family: 'Fira Code', monospace !default;
